@keyframes move-right {
  from{
   transform: translateX(0);  
  }
  to{
    transform: translateX(-100%);
  } 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body::-webkit-scrollbar{
  display: none;
} */
.page1{
  width: 100%;
  height: 100vh;
  background-color:#f5d2c6;
}
.nav{
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav .option{
  display: flex;
}
.nav .option li{
  list-style-type:none ;
  margin-left: 3vw;
  font-size: 1.2rem;
}
.nav-icon{
  list-style-type:none ;
  display: flex;
}
.nav-icon li{
  margin-right: 3vw;
}
.log{
  text-align: center;
  margin-right: 5vw;
}
.hero-section{
  width: 100%;
  height: 83vh;
  display: flex;
}
.moving-text{
  white-space: nowrap;
  overflow-x: auto;
  background-color: white;
 
}
.con{
  white-space: nowrap;
  display: inline-block;
  font-family:NB;
  animation-name: move-right;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: white;
  color: #000000;
}
.moving-text h1{
  font-size: 3rem;
  margin-left: 8vw;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.moving-text::-webkit-scrollbar{
  display: none;
}
.hero-section h1 {
  font-size: 9rem;
  line-height: 150px
  }
.heading{
  width: 50%;
  height: 80%;
  margin-top: 50px;
  margin-left: 70px;
}
.video{
  width: 40%;
  height: 100%;
}
.video video{
  width: 100%;
  height: 100%;
}

.page2{
  width: 100%;
  height: 100vh;
  display: flex;
 
}

.product-img{
  width: 30%;
  height: 100vh;  
}
.product-name{
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
 
}
.modal{
  width: 30%;
  height: 100vh;
 
}
.product-name h1{
   font-size: 6rem;
   font-weight: 500;
   line-height: 110px
}

.h1{
   margin-left: 3vw;
}

.h2{
  margin-left: 10vw;
}
.h3{
  margin-left: 4vw;
}
.h4{
  margin-left: 7vw;
}
.h6{
  margin-left: 10vw;
}
.product-name h1:hover{
  color: #464242;
  transition: 200ms;
}